body.vscode-light {
  color: black;
}

body.vscode-dark {
  color: white;
}

body.vscode-high-contrast {
  color: red;
}

body {
  font-size: var(-vscode-editor-font-size);
  font-weight: var(-vscode-editor-font-weight);
  font-family: var(-vscode-editor-font-family);
}

[v-cloak] {
  display: none;
}

.header {
  margin: 20px 10px;
}

.size22 {
  font-size: 22px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 10px;
  min-width: 1260px;
}
img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.movie-item {
  width: 200px;
  margin-bottom: 20px;
  padding: 0 5px;
}

.movie-link {
  display: block;
  margin: 0 auto;
  height: 260px;
  overflow: hidden;
}

.movie-meta {
  margin-top: 8px;
  line-height: 18px;
}

.scope {
  color: #69d077;
  font-size: 18px;
}
