<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>最近热门电视剧 - <%= tag %></title>
    <link rel="stylesheet" href="<%= css.reset %>" />
    <link rel="stylesheet" href="<%= css.app %>" />
    <script>
      window.GLOBAL_DATA = <%- GLOBAL_DATA %>
    </script>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="container">
        <header class="header">
          <span class="size22">最近热门电视剧 - <%= tag %></span> / <%= date %>
        </header>
        <section class="main">
          <div class="movie-item" v-for="v in movie">
            <a
              class="movie-link"
              target="_blank"
              :href="v.url"
              :title="v.title"
            >
              <v-lazy-image
                :title="v.title"
                :src="'https://images.weserv.nl/?url=' + v.cover"
              />
            </a>
            <div class="movie-meta">
              <p>{{ v.title }}</p>
              <p>
                豆瓣评分:
                <span class="scope">{{ v.rate | scope }}</span>
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="<%= js.vue %>"></script>
    <script src="<%= js.vueLazyImage %>"></script>
    <script src="<%= js.app %>"></script>
  </body>
</html>
